body {
    background-color: white;
    margin: 0px;
}

.logo_starbucks {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.position {
    width: 14px;
    height: 21px;
}

nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 215px;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:hover {
    color: #007437;
  }

#menu_navbar {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.6px;
    transition: 0.3s
}

#recompenses_navbar {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.6px;
    transition: 0.3s
}

#cartes_cadeaux_navbar {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.6px;
    transition: 0.3s
}

.buttonw_borderb {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent; 
    border: black solid;
    border-radius: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    transition: 0.3s
}

.buttonw_borderb:hover {
    background-color: rgba(12, 11, 11, 0.17);
    cursor: pointer;
}

.buttonw_borderw {
    font-family: "Open Sans", sans-serif;
    color: white;
    border: white solid;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    border-radius: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    transition: 0.3s

}

.buttonw_borderw:hover {
    background-color: rgba(12, 11, 11, 0.17);
    cursor: pointer;
}

#button_membre {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: black; 
    color: white;
    border-style: none;
    border-radius: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    transition: 0.3s

}

#button_membre:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.logo_btndroits_navbar {
    display: flex;
    align-items: center;
    margin-left: 56px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 56px;
}

.logo_navbar {
    display: flex;
}

.btndroits_navbar {
    display: flex;
    gap: 32px;
}

.magasins_btngauches_navbar {
    display: flex;
    gap: 56px;
    margin-right: 32px;
    margin-bottom: 36px;
    margin-top: 35px;
}

.btngauches_navbar {
    display: flex;
    gap: 32px;
}

.trouvermagasin_btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.container {
    padding-left: 70px;
    padding-right: 70px;
}

main img {
    width: 50%;
    max-width: 50%;
}

.banner_test {
    display: flex;
    margin-top: 64px;
    max-height: 633px;
}

.text_banner_test {
    background-color: #FFB000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px 120px 64px 120px;
    gap: 12px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 52px;
    letter-spacing: 1.6px;
    margin: 0;
}

main p {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 36px;
}

.bg_orange {
    background-color: #FF8200;
    color: white;
}

.bg_pink {
    background-color: #FF6EA0;
    color: white;
}

.bg_violet {
    background-color: #C878DC;
    color: white
}

.bg_green {
    background-color: #00643C;
    color: white;
}

form p {
    display: flex;
    flex-direction: column;
    /*gap: 12px*/
}

label {
    text-align: justify;
}

#email {
    background-color: #004127;
    border-radius: 35px;
    border-style: none;
    height: 40px;
    width: 320px;
    caret-color: white;
    text-indent: 15px;
}
.txt_legal p {
    font-size: 14px;
    font-weight: 530;
    font-weight: bold;
    gap: 12px;
}
.txt_legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 104px 312px 0px 312px;
    padding-bottom: 104px;
}

main {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 24px;
}

footer h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    letter-spacing: 3%;
    margin-bottom: 24px;
}

footer a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(110, 110, 100, 0.72);
    letter-spacing: 3%;
    transition: 0.3s;
}

footer a:hover {
    color: rgb(110, 110, 100);
    cursor: pointer;
}

.partie_A_Propos {
    display: grid;
    grid-template-columns: 210px 210px 210px 210px 210px;
    grid-gap: 32px;
    text-align: justify;
}

.box_footer {
    margin-bottom: 8px;
}

footer hr {
    margin-top: 32px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 32px;
    margin-top: 32px;
}

.fotter_end {
    display: grid;
    grid-template-columns: 180px 20px 180px 20px 380px 20px 118px 20px 118px;
    margin-top: 32px;
}

footer img {
    text-align: start;
}

.buttons_end_footer{
    margin: 0px 16px 0px 0px;
    text-align: center;
}

.symbol_between_footer {
    vertical-align: text-top;
    padding-right: 8px;
    padding-left: 8px;
}

.button_english {
    font-family: "Open Sans", sans-serif;
    color:#007437;
    font-weight: bold;
    cursor: pointer;
    margin-top: 32px;
}

.logo_brand_legal {
    font-family: "Open Sans", sans-serif;
    color: rgba(110, 110, 100, 0.72);
    margin-top: 16px;
    margin-bottom: 16px;

}

.imgs_rs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    gap: 8px;
}

.img_rs:hover {
    box-shadow: 1px -1px 0px 8px rgba(212, 211, 211, 1);
    border-radius: 50px;
}